@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 100vw;
  min-height: 100vh;
  /* background-color: red; */
}

.background_top {
  background-image: url(./imgs/Rectangle.svg);
  width: 100%;
  min-height: 730px;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  z-index: -1;

  .bck_top_add {
    position: absolute;
    top: 116.12px;
  }

  .bck_top_add_2 {
    position: absolute;
    right: 0;
    top: 314.07px;
  }
}

header {
  padding: 56px 165px 55px 165px;
  display: flex;
  justify-content: space-between;

  h2 {
    font-weight: 700;
    font-size: 18px;
    word-spacing: 1px;
    letter-spacing: -0.18px;
    color: #ffffff;
    font-family: "Manrope", sans-serif;
    border-bottom: 3px solid #44ffa1;
    padding-bottom: 3px;
  }
}

.top {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 90px;

  h1 {
    font-weight: 600;
    font-size: 80px;
    line-height: 90px;
    word-spacing: 1px;
    color: white;
    text-align: center;
    font-family: "Fraunces", serif;
    margin-bottom: 37px;
  }

  h1 > span {
    border-bottom: 3px solid #44ffa1;
  }

  button {
    padding: 13px 31.5px 16px 32.5px;
    min-width: 161px;
    background-color: #44ffa1;
    color: #24053e;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: -0.18px;
    word-spacing: 1px;
    font-family: "Manrope", sans-serif;
    border: 0;
    margin-bottom: 50px;
  }
}

.midback {
  top: 650px;
  position: absolute;
  z-index: -2;
  clip-path: ellipse(100% 52% at 51% 33%);
  background-color: #fcf8ff;
  height: 960px;
  width: 100%;
}

.middle {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 165px;
  margin-bottom: 281px;

  .midpara {
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 354px;

    img {
      max-width: 56px;
      align-self: center;
    }
    h3 {
      margin-top: 56px;
      margin-bottom: 28px;
      font-weight: 600;
      font-size: 32px;
      color: #24053e;
      font-family: "Fraunces", serif;
    }

    p {
      font-weight: 400;
      font-size: 18px;
      line-height: 32px;
      color: #24053e;
      font-family: "Manrope", sans-serif;
    }
  }
}

.bottom {
  height: 647.74px;
  width: 100%;
  padding: 0 165px;
  position: relative;
  display: flex;
  margin-bottom: 60px;

  img {
    position: absolute;
    max-width: 477px;
    max-height: 477px;
    z-index: -1;
  }

  .bck {
    max-width: 730px;
    max-height: 413px;
    padding: 64px;
    background-color: #24053e;
    position: absolute;
    right: 165px;
    top: 173px;
    margin-bottom: 61.74px;

    h2 {
      font-weight: 600;
      font-size: 56px;
      color: #ffffff;
      font-family: "Fraunces", serif;
    }

    p {
      font-weight: 400;
      font-size: 18px;
      line-height: 32px;
      color: #ffffff;
      font-family: "Manrope", sans-serif;
      margin: 32px 0;
    }

    button {
      padding: 13px 24.5px 16px 25.5px;
      font-weight: 700;
      font-size: 18px;
      letter-spacing: -0.18px;
      color: #24053e;
      background-color: #44ffa1;
      font-family: "Manrope", sans-serif;
      border: 0;
    }

    img {
      z-index: 1;
      right: 72.69px;
    }
  }
}

.foot {
  display: flex;
  align-items: center;
  flex-direction: column;

  img {
    margin-bottom: 57.62px;
  }
}

.soc {
  width: 116px;
  display: flex;
  justify-content: space-between;
}
